<div class="content">
  <div class="main">
    <h1></h1>

    <div ng-controller="SearchController">

      <form ng-submit="search()">
        <div class="select-language">
          <select chosen ng-model="form.language" ng-options="name for name in languagesList"></select>
        </div>

        <div class="search-snippet">
          <input class='search' type="text" ng-model="form.search_snippet" placeholder="code snippet to search"/>
          <button class="btn search" type="submit" >Search</button>
        </div>

        <div class="searching-indicator" ng-show="is_searching">
          Searching..
        </div>
      </form>

      <div class="results" ng-show="search_results.length">
        <div class="result" ng-repeat="result in search_results">

          <div class="repo-link-bar">
            <a class='repo' href="{{result.repository.html_url}}">{{result.repository.full_name}}</a>
            -
            <a class='repo' href="{{result.html_url}}">{{result.path}}</a>
          </div>

          <div class='text-match' ng-repeat="text_match in result.text_matches">
            <syntaxcode language="{{form.language}}" snippet="text_match.fragment">
            </syntaxcode>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

