@import "variables";

@include establish-baseline;
@include border-box-sizing;

body {
  color: black;
  font-family: "Georgia, Times, 'Times New Roman', serif";
  font-family: times, 'Times New Roman', times-roman, georgia, serif;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans", sans-serif;
}

h1 {
  @include adjust-font-size-to(18px);
}

// Styling
.page {
}

header, footer {
  background-color: $header-bg;
  color: $header-fg;
  padding: 1em;
  @include span-columns(10 omega, 10);
  // header and footer are full-width.

  h1 {
    color: $header-h1-fg;
  }

  a {
    color: $header-link-fg;
    text-decoration: none;
  }
  a:visited {
    color: $header-link-fg;
  }

  div.project-details {
    @include span-columns(10, 10);

    div.title {
      @include span-columns(10 omega, 10);
    }

    div.description {
      @include span-columns(6, 10);
    }

    div.project-urls {
      @include span-columns(2 omega, 10);
    }
  }
}

// Gridding

.page {
  @include container;

  .content {
    @include margin-leader(1);
    @include span-columns(8, 10);
    .main {
      @include prefix(1);
      @include span-columns(8 omega, 8);
    }
  }
}
