@import "variables";

body {
  color: black;
  font-family: "Georgia, Times, 'Times New Roman', serif";
  font-family: times, 'Times New Roman', times-roman, georgia, serif;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans",sans-serif;
}

h1 {
  margin-top: 1em;
  font-size: 2em;
}

// Styling
.page {
}

// Gridding
.page {
  @include container;
  //@include susy-grid-background;

  // header and footer are full-width by default.
  header, footer {
    clear: both;
  }

  .content {
    @include span-columns(8 omega, 8);
    .main {
      @include span-columns(8 omega, 8);
    }
  }
}
