$page-bg: white;

$header-bg: #263248;
$header-fg: white;
$header-h1-fg: #FF9800;

$header-link-fg: white;

$sidebar-bg: white;
$sidebar-fg: #666;

$border-color: #a34752;
$border-color: #ddd;


$syntaxhighlight-bg: #f8f8ff;
// Vertical rhythm
$relative-font-sizing : false;
$base-font-size       : 13px;
$base-line-height     : 20px;
$min-line-padding     : 2px;

$total-columns  : 10;             // a 12-column grid
$column-width   : 10%;            // each column is 4em wide
$gutter-width   : 0%;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

@import "compass/typography/vertical_rhythm";
@import "susy";

