<!DOCTYPE html>
<html>
<head>
  <title>FindingBits</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="findingBitsApp">

<div class='page'>
  <%= yield %>
</div>

</body>
</html>
