<!DOCTYPE html>
<html>
<head>
  <title>FindingBits</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="findingBitsApp">

<div class='page'>
  <header>
    <div class="project-details">
      <div class="title">
        <h1>Finding Bits</h1>
      </div>

      <div class="description">
        Searches the top repositories in Github to produce most relevant search results.
      </div>

      <div class='project-urls'>
        <a href="http://twitter.com/jasim_ab">@jasim_ab</a> |
        <a href="http://github.com/jasim/finding_bits">github.com/jasim/finding_bits</a>
      </div>
    </div>

  </header>

  <%= yield %>
</div>

</body>
</html>
